.fa-signal, .fa-layer-group, .fa-tag {
    color: #343a40;
}

.gray {
    color: #cccccc;
}

.dark-gray {
    color: #555555;
}

.tag-list {
    list-style: none;
    padding-left: 0;
}

.icon-label {
    min-width: 34px;
    color: #555555;
    text-align: center;
}
