<div class="color-picker">
    <div class="cp-view js-cp-view"></div>
    <div class="cp-colors">
        <input class="js-cp-output" type="text" value=""> <button class="cp-copy js-cp-copy">
            <i class="cp-icon fas fa-copy"></i>
        </button>
        <input class="cp-slide cp-hue js-cp-hue" id="cp-hue" type="range" min="0" max="360" value="331" draggable="false">
        <input class="cp-slide cp-sat js-cp-sat" id="cp-sat" type="range" min="0" max="100" value="100" draggable="false" >
        <input class="cp-slide cp-lig js-cp-lig" id="cp-lig" type="range" min="0" max="100" value="50" draggable="false" >
        <p class="js-cp-hex">#ffffff</p>
    </div>
</div>
