{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <div class="row my-4">
        <div class="col-md-2">
            {% include 'dashboard/_menu.html.twig' with {'pageTitle': pageTitle} %}
        </div>
        <div class="col-md-10">
            <h1>{{ pageTitle }}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
