<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Screen</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/screen.css" />
    <script src="https://kit.fontawesome.com/8cbbb68633.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="d-flex w-100 h-100">
        <div class="d-flex align-items-center justify-content-center bg-dark w-50">
            <div class="text-center">
                <p class="text-light js-clock rem9-5">HH:MM</p>
                <p class="text-light js-date display-4">DD dd/mm/yyyy</p>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-column bg-dark w-50">
            <div class="text-center d-flex justify-content-center flex-wrap h-50 w-100 text-light m-4">
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3"></i>
                    <span>Living 1</span>
                </div>
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3 off"></i>
                    <span>Living 2</span>
                </div>
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3"></i>
                    <span>Living 3</span>
                </div>
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3"></i>
                    <span>Keuken</span>
                </div>
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3 off"></i>
                    <span>Hal</span>
                </div>
                <div class="d-flex flex-column w-33 my-3">
                    <i class="fas fa-lightbulb display-3 off"></i>
                    <span>TV</span>
                </div>
            </div>
            <div class="text-center d-flex justify-content-center flex-column h-25 w-100 text-light">
                Widget 25%
            </div>
            <div class="text-center d-flex justify-content-center flex-column h-25 w-100 text-light">
                <a class="weatherwidget-io" href="https://forecast7.com/nl/51d314d89/vosselaar/" data-label_1="VOSSELAAR" data-font="Roboto" data-icons="Climacons Animated" data-days="5" data-textcolor="#f8f9fa" >VOSSELAAR</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script>
            </div>
        </div>
    </div>
    <script>
        var myVar = setInterval(function() {
            myTimer();
        }, 1000);

        function myTimer() {
            var d = new Date();
            document.querySelector('.js-clock').innerHTML = d.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
            document.querySelector('.js-date').innerHTML = d.toLocaleString('nl-BE', {weekday: 'short'}) + '  ' + d.getDate() + ' ' + d.toLocaleString('nl-BE', {month: 'long'});
        }
    </script>
</body>
</html>
